[Desktop Entry]
Type=Application
Version=1.0
Name=Install Ubuntu Cinnamon Remix 20.04.1 LTS
Name[ar]=تنصيب لوبينتو 20.04.1 LTS
Name[ca]=Instal·lar Ubuntu Cinnamon Remix 20.04.1 LTS
Name[da]=Installer Ubuntu Cinnamon Remix 20.04.1 LTS
Name[de]=Ubuntu Cinnamon Remix 20.04.1 LTS installieren
Name[es]=Instalar Ubuntu Cinnamon Remix 20.04.1 LTS
Name[fr]=Installer Ubuntu Cinnamon Remix 20.04.1 LTS
Name[it]=Installa Ubuntu Cinnamon Remix 20.04.1 LTS
Name[no]=Installer Ubuntu Cinnamon Remix 20.04.1 LTS
Name[pl]=Zainstaluj Ubuntu Cinnamon Remix 20.04.1 LTS
Name[pt]=Instalar o Ubuntu Cinnamon Remix 20.04.1 LTS
Name[pt_BR]=Instalar Ubuntu Cinnamon Remix 20.04.1 LTS
GenericName=Install Ubuntu Cinnamon Remix
GenericName[ar]=تنصيب لوبينتو
GenericName[ca]=Instal·lar Ubuntu Cinnamon Remix
GenericName[da]=Installer Ubuntu Cinnamon Remix
GenericName[de]=Ubuntu Cinnamon Remix installieren
GenericName[es]=Instalar Ubuntu Cinnamon Remix
GenericName[fr]=Installer Ubuntu Cinnamon Remix
GenericName[it]=Installa Ubuntu Cinnamon Remix
GenericName[no]=Installer Ubuntu Cinnamon Remix
GenericName[pl]=Zainstaluj Ubuntu Cinnamon Remix
GenericName[pt]=Instalar o Ubuntu Cinnamon Remix
GenericName[pt_BR]=Instalar Ubuntu Cinnamon Remix
Exec=bash -c "export BROWSER='sudo -H -u cinnamon-remix firefox'; sudo -E calamares"
Comment=Calamares — System Installer
Comment[ar]=الحبار — منصب النظام
Comment[ca]=Calamares — Instal·lador del Sistema
Comment[da]=Calamares - System installation
Comment[de]=Calamares — System Installer
Comment[es]=Calamares — Instalador del Sistema
Comment[fr]=Calamares  — Installateur de votre system
Comment[it]=Calamares — Installatore del Sistema
Comment[no]=Calamares — System installerer
Comment[pl]=Calamares — Instalator systemu
Comment[pt]=Calamares — Instalador do Sistema
Comment[pt_BR]=Calamares — Instalador do sistema
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;
Keywords=installer;calamares;system;
