Source: calamares-settings-ubuntu
Section: devel
Priority: optional
Maintainer: Ubuntu Cinnamon Developers <ubuntucinnamonremix7@gmail.com>
Uploaders: Joshua Peisach <itzswirlz2020@outlook.com>
Build-Depends: debhelper (>= 12),
               debhelper-compat (= 13),
               intltool,
               qttools5-dev-tools
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: https://github.com/Ubuntu-Cinnamon-Remix/
Vcs-Browser: https://github.com/Ubuntu-Cinnamon-Remix/calamares-settings-ubuntu
Vcs-Git: https://github.com/Ubuntu-Cinnamon-Remix/calamares-settings-ubuntu.git

Package: calamares-settings-cinnamon-remix
Architecture: all
Depends: calamares-settings-ubuntu-common (>= ${binary:Version}),
         ${misc:Depends}
Conflicts: calamares-settings-cinnamon-remix
Description: cinnamon-remix Calamares Settings and Branding
 This package contains the Calamares settings and branding for cinnamon-remix.
 As part of the branding the installer slideshow is contained within.
 The settings ensure a proper cinnamon-remix desktop is installed with the
 cinnamon desktop environment.

Package: calamares-settings-ubuntu-common
Architecture: any
Depends: calamares (>= 3.2.14~),
         squashfs-tools,
         python3,
         ${misc:Depends}
Description: Common Calamares Settings
 This package contains the common Calamares settings for all flavors.
 There is also a automirror Python script to set sources based on
 geolocation.
